html, body, .app {
  height: 100vh;
  width: 100%;
  background: #eee;
  padding: 0;
}
.app {}

.Menu_User {
  text-align: center; 
  padding: 10px 0px; 
  background: #232323; 
  color: white; 
  position: absolute; 
  bottom: 0; left: 0;
  width: 100%; 
}

.Chatroom_Header {
  padding: 15px 0px;
}

.sidebar_user {
  padding: 10px 0;
}

.sidebar_user img {cursor: pointer;}

.footer_menu {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 70px;
}

.header_menu {
  top: 0;
  position: absolute;
  width: 100%;
  height: 50px;
  line-height: 50px;
}

.grid-icon {cursor: pointer;}

.category_container {
  margin-top: 0px !important;
  height: 100%;
  width: 100%;
  background-color: red;
  position: absolute;
  top: 50px;
}

.category_header {
  margin: 0px 0px 5px 0px !important;
}