html, body, .app {
  height: 100vh;
  width: 100%;
  background: #eee;
  padding: 0;
}
.app {}

.Menu_User {
  text-align: center; 
  padding: 10px 0px; 
  background: #232323; 
  color: white; 
  position: absolute; 
  bottom: 0; left: 0;
  width: 100%; 
}

.Chatroom_Header {
  padding: 15px 0px;
}

.sidebar_user {
  bottom: 0;
  /* height: 40px; */
  /* width: 40px; */
}

.room_navbar {
  
}